<div class="row">
    <div class="container">
        <br>
        <br>

        <form (ngSubmit)="onSubmit()"  [formGroup]="formRe">

            <!-- row about email -->
            <div class="form-row justify-content-center ml-5 mr-5">

              <div class="form-group col-md-6">
                <label for="email">Email </label>
                <input type="email"
                       class="form-control "
                       formControlName="email"
                       placeholder="Email"
                       required>

              </div>
            </div>

            <!-- row about password -->
            <div class="form-row  justify-content-center  ml-5 mr-5">

              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       formControlName="password"
                       placeholder="Password"
                       required>

              </div>
            </div>

            <!-- row about repeat pasword -->
            <div class="form-row justify-content-center  ml-5 mr-5">
             <div class="form-group col-md-6">
                <label for="repeatedpassword">Please repeat your password !</label>
                <input type="password"
                       class="form-control"
                       formControlName="repeatedpassword"
                       placeholder="Please repeat your password "
                       required>

            </div>

            </div>

            <div class="form-row justify-content-center">

              <button [disabled]="!formRe.valid"
              type="submit"
              class="btn btn-primary"> Sign in </button>

            </div>


            <br><br>
            <div class="row">
                {{ formRe.get('email').value  }}

            </div>
         </form>

    </div>

</div>


<router-outlet></router-outlet>
