<div class="row">
    <div class="container">
        <br>
        <br>

        <form (ngSubmit)="onSubmit()"  [formGroup]="formRe">
            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email" required>
              </div>

              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
              </div>

             <div class="form-group col-md-6">
                  <label for="repeatedpassword">Please repeat your password !</label>
                  <input type="password" class="form-control" formControlName="repeatedpassword"
                         placeholder="Please repeat your password " required>
              </div>


            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>

            <div class="row">
                <!-- {{ email.value  }} -->
            </div>
         </form>

    </div>

</div>


<router-outlet></router-outlet>
