<div class="row">
    <div class="container">
        <br>
        <br>

        <form (ngSubmit)="onSubmit()"  [formGroup]="formRe">

            <!-- row about email [ngClass]="{'invalid':formRe.get('email').touched && formRe.get('email').invalid }  -->
            <div class="form-row justify-content-center ml-5 mr-5">

              <div class="form-group col-md-6">
                <label for="email">Email </label>
                <input type="email"
                       class="form-control "
                       formControlName="email"
                       placeholder="Email"
                       required>
                
                    <div class="alert alert-danger mt-3" *ngIf="ValidaCamposObrigatorios('email')">
                        Campo obrigatório a ser preenchido
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                    </div>

              </div>
            </div>

            <!-- row about password -->
            <div class="form-row  justify-content-center  ml-5 mr-5">

              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       formControlName="password"
                       placeholder="Password"
                       required>
                    
                      <div class="alert alert-danger mt-3" *ngIf="ValidaCamposObrigatorios('password')">
                         Campo obrigatório a ser preenchido
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
              </div>
            </div>

            <!-- row about repeat pasword -->
            <div class="form-row justify-content-center  ml-5 mr-5">
             <div class="form-group col-6">
                <label for="repeatedpassword">Please repeat your password !</label>
                <input type="password"
                       class="form-control"
                       formControlName="repeatedpassword"
                       placeholder="Please repeat your password "
                       required>
                     
                     <div class="alert alert-danger mt-3" *ngIf="ValidaCamposObrigatorios('repeatedpassword')">
                        Campo obrigatório a ser preenchido
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="alert alert-danger mt-3" *ngIf="formRe.errors?.igual || ValidaCamposObrigatorios('repeatedpassword')" >
                        As senhas não conferem
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
            </div>

            </div>

            <div class="form-row justify-content-center">

              <button [disabled]="!formRe.valid"
                      type="submit"
                      class="btn btn-primary"> Sign Up </button>

            </div>


            <br><br>
            <div class="row">
                {{ formRe.value | json }}
                <br>    <br>
                  {{ formRe.get('email').value }}    
            </div>
         </form>

    </div>

</div>


<router-outlet></router-outlet>
