
<div style="text-align:center">
  <br><br>
  <h1>
     <!-- {{ title }}! -->
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <!-- FORM -->
  <div class="">
    <hr>

    <div class="container">

      <form #form="ngForm" (ngSubmit)="oClick(form)">

        <div class="form-group">
          <div class="col-sm-10 col-md-12">
              <!-- [ngModelOptions]="{standalone: true}" -->
              <label for="email">Email address</label>
              <input  [(ngModel)]="usuario.email"
                      type="email"
                      name="email"
                      class="form-control"
                      aria-describedby="emailHelp"
                      #nomeModel="ngModel"
                      ngModel required >


                 <div *ngIf="nomeModel.invalid && (nomeModel.dirty || nomeModel.touched)"
                      class="alert alert-danger">

                      Email is required
                 </div>
              <!-- <small id="emailHelp" class="form-text text-muted">  </small> -->
              <!-- <br>TODO: remove this: {{spy.className}} -->
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-md-12">
              <label for="senha">Password</label>
              <input [(ngModel)]="usuario.senha"
                     type="password"
                     name="senha"
                     class="form-control"
                     ngModel required
                     #senhaModel="ngModel">

              <!-- HIDE REQUIRED [hidden]="senhaModel.errors.required" !senhaModel.valid || !senhaModel.pristine-->
              <div *ngIf="senhaModel.invalid && (senhaModel.dirty || senhaModel.touched)"
                   class="alert alert-danger">

                   Senha is required
              </div>


          </div>
        </div>
        <!-- <div class="col-sm-10">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Password</label>
          </div>

        </div> -->

        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >Sign emergency</button>



      </form>

    </div>
</div>


