
<div style="text-align:center">
  <br><br>
  <h1>
     <!-- {{ title }}! -->
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <!-- FORM -->
    <div class="">

      <form class="" #form="ngForm" (ngSubmit)="oClick(form)">

        <!-- row about login line -->

        <div class="row  justify-content-center">
            <div class="col-4">
                  <div class="form-group">


                    <!-- [ngModelOptions]="{standalone: true}" -->
                    <label for="email">Email address</label>
                    <input  [(ngModel)]="usuario.Email"
                            type="email"
                            [email] = "true"
                            name="email"
                            class="form-control"
                            placeholder="exemplo@gmai.com"
                            ngModel required
                            #nomeModel="ngModel">


                      <div *ngIf="nomeModel.invalid && (nomeModel.dirty || nomeModel.touched)">
                          <alert type="danger" [dismissible]="dismissible" [dismissOnTimeout]="dismissOnTimeout">
                              <strong> E-mail is required</strong>
                          </alert>
                      </div>

                </div>

            </div>
        </div>

        <!-- row about password line -->
        <div class="row  justify-content-center">


              <div class="col-4 ">
                  <div class="form-group ">
                  <label for="senha">Password</label>
                  <input [(ngModel)]="usuario.Password"
                        type="password"
                        name="senha"
                        class="form-control"
                        placeholder="digite sua senha"
                        ngModel required
                        #senhaModel="ngModel">
                  <!-- col-sm-12 col-md-12 -->
                  <!-- HIDE REQUIRED [hidden]="senhaModel.errors.required" !senhaModel.valid || !senhaModel.pristine-->
                  <div *ngIf="senhaModel.invalid && (senhaModel.dirty || senhaModel.touched)">
                      <alert type="danger" [dismissible]="dismissible" [dismissOnTimeout]="dismissOnTimeout">
                          <strong> Password is required</strong>
                      </alert>
                  </div>



              </div>
            </div>

        </div>

        <div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid || isProcessing" > Sign In </button>
          <button type="button" class="btn btn-primary ml-2" [routerLink]="['/usuario']" routerLinkActive="router-link-active"  > Sign Up </button>
        </div>
        
      </form>

      <div class="row justify-content-md-center mt-3">
        <div class="col-md-2">
          <div *ngIf="erro">
            <alert *ngFor="let errorMe of erro?.messages" type="danger" [dismissible]="dismissible">
              {{errorMe.description}}
            </alert>
      
          </div>
          <div>
            {{ authService.decodeToken?.email }}
          </div>
        </div>
      </div>
      
</div>


