<div class="row">
  <div class="col">

    <nav   class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['../']" >Locke Key </a>
      <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" aria-controls="collapseBasic" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div id="collapseBasic" [collapse]="!isCollapsed" class="card card-block card-header collapse navbar-collapse border-0">
        <div class="navbar-nav ">
          <a class="nav-item nav-link active" [routerLink]="['../']" >Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" >Features</a>
          <a routerLink="/login" class="nav-item nav-link" >Sign In</a>
          <a routerLink="/usuario" class="nav-item nav-link">Sign Up</a>
          <a routerLink="" class="nav-item nav-link" (click)="Loggout()"> Loggout</a>        
        </div>
      </div>

    </nav>


  </div>

</div>





