
<div class="container mt-5">
  <div class="row">
    <div class="card-group">
      <div class="card border border-success ml-2 pointer" (click)="MouseOver()">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Cadastro Empresa</h5>
          <p class="card-text">Cadastro referente a empresas que fornecem serviços</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card border border-success ml-2 pointer" (click)="MouseOver()">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Lançamento de contas</h5>
          <p class="card-text">Registrar contas mensalmente</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card border border-success ml-2 pointer" (click)="MouseOver()">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Consultar Pagamento</h5>
          <p class="card-text">Consulte os pagamentos que foram pagos</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>





</div>